/.git
/.github
/target
/files
/scripts
/diagram
/.dockerignore
/.gitignore
/.envrc
/cicd/standard/Dockerfile
/cicd/standard/deploy-cloud-run-image-standard.yaml
/cicd/standard/deploy-cloud-run-service-standard.yaml
/cicd/native-graalvm/Dockerfileold
/cicd/native-graalvm/deploy-cloud-run-image-graalvm.yaml
/cicd/native-graalvm/deploy-cloud-run-service-standard.yaml
/*.md
/.idea
*.iml
*.egg-info
__pycache__
.DS_Store
